<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDePSXroVDV3ofz3acIRYpOZJiCGVGYpHk</string>
	<key>GCM_SENDER_ID</key>
	<string>918797848192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamdy-khalid-dawood.quran-app</string>
	<key>PROJECT_ID</key>
	<string>quran-app-485bd</string>
	<key>STORAGE_BUCKET</key>
	<string>quran-app-485bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918797848192:ios:857fa4a62e85bd42d1e065</string>
</dict>
</plist>